$main-color: rgb(83, 192, 196);
$main-width: 90vw;

$header-height-ratio: 27%; // compares to header width

$video-height-ratio: 56.5%; // compares to video width

$navigation-height: 90px;


body {
  background: #000;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}