header {
  position: relative;
  height: 0px;
  padding-top: $header-height-ratio;
  margin-top: $navigation-height;
  overflow: hidden;
}

.header__content {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

.header__image {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
}

.header__title {
  position: absolute;
  top: 13%; left: 5%;
  font-size: 2.3vw;
  font-weight: 500;
  color: #fff;
}