header {
  position: relative;
  height: 0px;
  padding-top: $header-height-ratio;
  margin-top: $detached-navigation-height;
  overflow: hidden;
}

.header__content {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

.header__image {
  width: 100%;
}

.header__title {
  position: absolute;
  top: 13%; left: 50%;
  font-size: 2.3vw;
  font-weight: 500;
  color: #fff;
  transform: translate3d(-50%, 0, 0);
}