.navigation {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  z-index: 1;
  padding: 0 90px;

  // detached to viewport
  &--detached {
    position: absolute;
    top: 0px; left: 0px;
    height: $detached-navigation-height;
  }

  // attached to viewport
  &--attached {
    position: fixed;
    top: 0px; left: 0px;
    height: $attached-navigation-height;
    background: #000;
  }

  &--collapse {
    transform: translate3d(0, -100%, 0);
  }

  &--stay-attached {
    transition: transform .7s;
  }

  // ghost element to vertically align
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.navigation__item-list {
  display: inline-block;
  vertical-align: middle;

  &--active {
    transition: visibility .1s, opacity .5s .1s;
    opacity: 1;
    visibility: visible;
  }

  &--deactive {
    transition: opacity .5s, visibility .1s .5s;
    opacity: 0;
    visibility: hidden;
  }
}

.menu-animation {
  opacity: 0;
  visibility: hidden;
}

.navigation__item {
  display: inline-block;
  margin-right: 20px;
  transform: translate3d(0, 3px, 0);
  overflow: hidden;

  // underline
  &:after {
    content: '';
    display: block;
    width: 100%; height: 3px;
    background: $main-color;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    transition: opacity .3s, transform .3s;
  }

  &:nth-last-child(1) {
    margin-right: 30px;
  }

  &:hover:after, &--active:after {
    transform: none;
    opacity: 1;
  }
}

.navigation__item-name {
  line-height: 1.3;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navigation__button {
  position: relative;
  display: inline-block;
  width: 27px; height: 27px;
  vertical-align: middle;
  cursor: pointer;

  &::before, &::after {
    position: absolute;
    top: 50%;
    content: '';
    display: block;
    width: 100%; height: 2px;
    background: #fff;
    transform: translate3d(0px, -7px, 0);
    transition: transform .2s;
  }

  &::after {
    transform: translate3d(0, 5px, 0);
  }

  &--disappear {
    display: none;
  }
}

.navigation__button--active {
  &::before {
    transform: translate3d(0px, -50%, 0) rotate(-45deg);
  }

  &::after {
    transform: translate3d(0px, -50%, 0) rotate(45deg);
  }
}

.navigation__title-wrap {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.navigation__title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}