doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/info/main.css")
    title info
  body
    include navigation.pug
    div.info
      div.info__title SUNG HWAN LEE
      div.info__profile 3D Generalist #{'&'} Motion Designer
      div.info__phone Phone: +82 10 4113 6331
      div.info__email E-mail: leesh21877@gmail.com
      div.info__tools TOOLS
      div.info__tool1 Maxon Cinema4D, Octane, Redshift, Unreal Engine
      div.info__tool2 Adobe Aftereffect, Premiere Pro, Photoshop, Illustrator
      div.info__socials 
        a.info__socials-icon(href="https://www.behance.net/D99")
          i.fab.fa-behance
        a.info__socials-icon(href="https://vimeo.com/d99")
          i.fab.fa-vimeo-v
      
    
    script(type="module" src="/javascripts/info/main.js")