.nav {
  box-sizing: border-box;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 170px;
  padding: 0px 90px;
}

.nav__logo-wrap {
  float: left;
  height: 100%;

  // vertical-align helper
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.nav__logo {
  display: inline-block;
  width: 170px; height: 80px;
  background: no-repeat center/100% url('../images/yambo_white.png');
  vertical-align: middle;
}

.nav__menu-wrap {
  float: right;
  height: 100%;

  // vertical-align helper
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.nav__menu {
  display: inline-block;
  vertical-align: middle;
}

.nav__menu-button {
  position: relative;
  display: inline-block;
  width: 30px; height: 30px;
  vertical-align: middle;
  margin-left: 30px;
  cursor: pointer;

  &::before, &::after {
    position: absolute;
    top: 50%;
    content: '';
    display: block;
    width: 100%; height: 2px;
    background: #fff;
    transform: translate3d(0px, -7px, 0);
    transition: transform .2s;
  }

  &::after {
    transform: translate3d(0, 5px, 0);
  }
}

.nav__menu-button--active {
  &::before {
    transform: translate3d(0px, -50%, 0) rotate(-45deg);
  }

  &::after {
    transform: translate3d(0px, -50%, 0) rotate(45deg);
  }
}