body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.index-section {
  box-sizing: border-box;
  float: left;
  width: 350px;
  height: 100vh;
  padding: 20px 30px 50px 30px;
  overflow: scroll; }

.index-section__auth {
  font-size: 0.9em;
  font-weight: 300;
  text-align: right;
  margin-bottom: 30px;
  margin-right: -25px; }

.index-section__nickname {
  margin-right: 7px; }

.index-section__logout {
  color: #000;
  margin-left: 7px; }

.index-section__create-button {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: box-shadow .2s;
  text-align: center;
  font-weight: 300;
  font-size: 1.1rem;
  cursor: pointer; }
  .index-section__create-button::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .index-section__create-button:hover {
    box-shadow: 2px 2px 5px #ccc; }
  .index-section__create-button:active {
    transform: scale(0.97); }

.index-section__project-list {
  margin-top: 40px; }

.index-section__project {
  height: 40px;
  padding: 7px 20px;
  font-weight: 300;
  border-width: 1px 1px 0px 1px;
  border-color: #ccc;
  border-style: solid;
  cursor: pointer; }
  .index-section__project:last-child {
    border-bottom: 1px solid #ccc; }
  .index-section__project:hover {
    background: #f8f8f8; }
  .index-section__project:active {
    background: #eee; }

.index-section__project-title {
  box-sizing: border-box;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.content-section {
  box-sizing: border-box;
  float: left;
  width: calc(100vw - 350px - 15px);
  height: 100vh;
  padding: 100px 0px 150px 0px;
  overflow: scroll; }

.form {
  box-sizing: border-box;
  position: relative;
  width: 927px;
  margin: auto; }
  .form--hide {
    display: none; }

.form__close-button {
  position: absolute;
  top: -50px;
  right: 50px; }

.form__member {
  margin-bottom: 8px;
  overflow: hidden; }
  .form__member:nth-last-child() {
    margin-bottom: 0px; }

.form__member-name {
  float: left;
  width: 150px;
  height: 40px;
  font-weight: 300;
  font-size: 1.1rem; }
  .form__member-name:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.form__input-wrap {
  float: left;
  box-sizing: border-box; }

.form__input {
  box-sizing: border-box;
  height: 40px; }
  .form__input--text {
    display: block;
    width: 350px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0px 5px; }
    .form__input--text:focus {
      outline: none; }
  .form__input--number {
    width: 40px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    font-weight: 100; }
  .form__input--radio {
    margin: 0px 5px;
    vertical-align: middle; }
  .form__input--video-url {
    width: 350px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0px 5px; }
    .form__input--video-url:focus {
      outline: none; }

.form__label--thumbnail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 270px;
  height: 270px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer; }
  .form__label--thumbnail::before, .form__label--thumbnail::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70px;
    height: 2px;
    background: #fff;
    transform: translate3d(-50%, -50%, 0); }
  .form__label--thumbnail::after {
    width: 2px;
    height: 70px; }
  .form__label--thumbnail:hover {
    opacity: 1; }
  .form__label--thumbnail:active {
    background: rgba(0, 0, 0, 0.8); }

.form__label--header-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer; }
  .form__label--header-image::before, .form__label--header-image::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70px;
    height: 2px;
    background: #fff;
    transform: translate3d(-50%, -50%, 0); }
  .form__label--header-image::after {
    width: 2px;
    height: 70px; }
  .form__label--header-image:hover {
    opacity: 1; }
  .form__label--header-image:active {
    background: rgba(0, 0, 0, 0.8); }

.form__label--snapshot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer; }
  .form__label--snapshot::before, .form__label--snapshot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70px;
    height: 2px;
    background: #fff;
    transform: translate3d(-50%, -50%, 0); }
  .form__label--snapshot::after {
    width: 2px;
    height: 70px; }
  .form__label--snapshot:hover {
    opacity: 1; }
  .form__label--snapshot:active {
    background: rgba(0, 0, 0, 0.8); }

.form__label--radio {
  margin-right: 20px;
  vertical-align: middle;
  font-weight: 300; }

.form__button--add {
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  font-size: 20px;
  color: #777; }
  .form__button--add:hover {
    color: #000; }

.form__button--submit {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: box-shadow .2s;
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  margin: auto;
  cursor: pointer; }
  .form__button--submit::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .form__button--submit:hover {
    box-shadow: 2px 2px 5px #ccc; }
  .form__button--submit:active {
    transform: scale(0.97);
    outline: none; }

.added-input {
  margin-top: 5px; }

.added-input__button {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  border: 0px;
  padding: 0px;
  outline: none;
  font-size: 20px;
  color: #777; }
  .added-input__button:hover {
    color: #000; }

.thumbnail-preview-wrap {
  box-sizing: border-box;
  float: left;
  position: relative;
  margin: 0px 30px 0px 0px; }
  .thumbnail-preview-wrap::before {
    content: 'Thumbnail';
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 100;
    font-size: 2rem;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1; }
  .thumbnail-preview-wrap--invalid .thumbnail-preview {
    border: 1px solid red; }
  .thumbnail-preview-wrap--invalid .thumbnail__validation-message {
    display: block; }

.thumbnail-preview {
  box-sizing: border-box;
  width: 270px;
  height: 270px;
  padding: 5px;
  border: 1px solid #ccc; }

.thumbnail-preview__item {
  float: left;
  width: 100%;
  height: 100%; }

.thumbnail-preview__image {
  width: 100%;
  height: 100%; }

input#thumbnail {
  position: absolute !important;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.thumbnail__validation-message {
  display: none;
  box-sizing: border-box;
  color: red;
  padding: 10px 5px; }

.header-image-preview-wrap {
  position: relative;
  margin: 100px 0px 15px 0px; }
  .header-image-preview-wrap::before {
    content: 'Header Image';
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 100;
    font-size: 2.5rem;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1; }
  .header-image-preview-wrap--invalid .header-image-preview {
    border: 1px solid red; }
  .header-image-preview-wrap--invalid .header-image__validation-message {
    display: block; }

.header-image-preview {
  box-sizing: border-box;
  height: 250px;
  border: 1px solid #ccc;
  padding: 5px; }

.header-image-preview__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.header-image-preview__image {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0); }

input#header-image {
  position: absolute !important;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.header-image__validation-message {
  display: none;
  box-sizing: border-box;
  padding: 10px 5px;
  color: red; }

.snapshot-preview-wrap {
  box-sizing: border-box;
  position: relative;
  min-height: 485px;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 15px 0px 50px 0px; }

.snapshot-preview {
  box-sizing: border-box; }

.snapshot-preview__item {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 225px;
  height: 225px;
  margin: 25px 5px 0px 0px;
  padding: 5px;
  border: 1px solid #ccc; }
  .snapshot-preview__item:nth-child(-n+4) {
    margin-top: 0px; }
  .snapshot-preview__item:nth-child(4n) {
    margin-right: 0px; }
  .snapshot-preview__item:hover .snapshot-preview__buttons {
    visibility: visible; }

.snapshot-preview__image {
  width: 100%;
  height: 100%; }

.snapshot-preview__buttons {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px; }

.snapshot__input {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.title--invalid {
  border: 1px solid red; }

.title--invalid + .title__validation-message {
  display: block; }

.title__validation-message {
  display: none;
  box-sizing: border-box;
  padding: 7px 5px;
  color: red; }

.gutter {
  box-sizing: border-box;
  float: left;
  width: 15px;
  height: 100vh;
  border-right: 1px solid #ccc; }

/*# sourceMappingURL=main.css.map */