.form {
  position: absolute;
  top: 50%; left: 50%;
  border: 1px solid #ccc;
  transform: translate3d(-50%, -50%, 0);
  padding: 50px 30px 30px 30px;
}

.form__member {
  margin-bottom: 35px;

  &:nth-child(2) {
    margin-bottom: 0px;
  }
}

.form__input {
  width: 350px; line-height: 50px;
  outline: none;
  padding: 0px 10px;
  font-size: 1.3rem;
  font-weight: 300;
  background: #fff;
  border: 1px solid #ccc;

  &--email {

  }

  &--password {

  }
}

.form__submit {
  display: block;
  box-sizing: border-box;
  width: 140px; height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: box-shadow .2s;
  text-align: center;
  font-weight: 300;
  font-size: 1.1rem;
  margin: 30px auto 0px auto;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:hover {
    box-shadow: 2px 2px 5px #ccc;
  }
  
  &:active {
    transform: scale(0.97);
  }
}

.form__message {
  color: red;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0px 10px;
  margin-top: 15px;
}